<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="#servicios" class="text-decoration-none">Servicios</a></li>
                        <li><a routerLink="/products" class="text-decoration-none">Productos</a></li>
                        <li><a href="#contacto" class="text-decoration-none">Contáctanos</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-auto">
                <div class="credits">
                    <span class="copyright">
                        © {{test | date: 'yyyy'}} TuPupila Óptica - Todos los derechos reservados
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
